.app-container{
  display: flex;

}
.content{
  width: 100%;
}
.sidebar{
  min-height:100vh;

}
.post-card{
  margin: 30px 30px 30px 30px;
}
.hashtag{
  margin: 0px 3px;
}
.reaction{
  margin: 0px 15px 0px 15px;
}
.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.welcome-Message{
  margin: 100px 0;
}
.spinner{
  margin:10%
}